In [4]:
import pandas as pd

In [5]:
# df = pd.read_csv("./data/Intercept-all-data.csv")
df = pd.read_csv("./data/Intercept_2021.csv")

In [6]:
# Convert Date Intercept to datetime, day first
df["Date Intercepted"] = pd.to_datetime(df["Date Intercepted"], dayfirst=True)

In [7]:
# add month column
df['Month'] = df['Date Intercepted'].dt.month

In [8]:
df_june = df.loc[(df['Month'] == 6)]

In [9]:
df_june.loc[df['Product'] == "Bakery"].sort_values('Date Intercepted', ascending=False)

,Date Intercepted,Location,Company,Town/City,Source Category,Temperature,Product,Weight (in grams),Type,Month
2037,2021-06-30,Sharehouse Leeds,Morrisons,NaN,Retail,Ambient,Bakery,5400,Donated,6
2038,2021-06-30,Sharehouse Leeds,Morrisons,NaN,Retail,Ambient,Bakery,120000,Donated,6
2032,2021-06-28,Sharehouse Leeds,Morrisons,NaN,Retail,Ambient,Bakery,1820,Donated,6
2029,2021-06-28,Sharehouse Leeds,Morrisons,NaN,Retail,Ambient,Bakery,22300,Donated,6
2751,2021-06-26,Sharehouse Leeds,Tesco,NaN,Retail,Ambient,Bakery,25200,Donated,6
...,...,...,...,...,...,...,...,...,...,...
2691,2021-06-01,Sharehouse Leeds,Tesco,NaN,Retail,Ambient,Bakery,10500,Donated,6
1922,2021-06-01,Sharehouse Leeds,Morrisons,NaN,Retail,Ambient,Bakery,10800,Donated,6
1924,2021-06-01,Sharehouse Leeds,Morrisons,NaN,Retail,Ambient,Bakery,46200,Donated,6
1929,2021-06-01,Sharehouse Leeds,Morrisons,NaN,Retail,Ambient,Bakery,20000,Donated,6
1925,2021-06-01,Sharehouse Leeds,Morrisons,NaN,Retail,Ambient,Bakery,10000,Donated,6

In [46]:
# total_bakery = df.loc[df['Product'] == "Bakery"]['Weight (in grams)'].sum()
# print(f"Total bakery: {total_bakery}")
grand_total = 0
for product in df['Product'].unique():
    total = df.loc[df['Product'] == product]['Weight (in grams)'].sum()
    print(f"Total {product}: {total/1_000} Kg")
    grand_total += total
print(f"Year Total to date : {(int(grand_total/1_000_000))} tonne")

Total Dairy: 9639.775 Kg
Total Fresh Produce: 219463.818 Kg
Total Bakery: 40953.423 Kg
Total Other: 177464.746 Kg
Total Drinks: 77040.822 Kg
Total Meat, Fish, Poultry, Eggs: 24884.71 Kg
Total Pre-prepared Meals: 10763.606 Kg
Year Total to date : 560 tonne

In [32]:
df['Product'].unique()

array(['Dairy', 'Fresh Produce', 'Bakery', 'Other', 'Drinks',
       'Meat, Fish, Poultry, Eggs', 'Pre-prepared Meals'], dtype=object)