In [1]:
import pandas as pd

In [2]:
# df = pd.read_csv("./data/Intercept-all-data.csv")
df = pd.read_csv("./data/Intercept_2021.csv")

In [3]:
# Convert Date Intercept to datetime, day first
df["Date Intercepted"] = pd.to_datetime(df["Date Intercepted"], dayfirst=True)

In [4]:
# add month column
df['Month'] = df['Date Intercepted'].dt.month

In [5]:
df_june = df.loc[(df['Month'] == 6)]

In [6]:
df_june.loc[df['Product'] == "Bakery"].sort_values('Date Intercepted', ascending=False)

,Date Intercepted,Location,Company,Town/City,Source Category,Temperature,Product,Weight (in grams),Type,Month
2102,2021-06-30,Sharehouse Leeds,Morrisons,NaN,Retail,Ambient,Bakery,5400,Donated,6
2103,2021-06-30,Sharehouse Leeds,Morrisons,NaN,Retail,Ambient,Bakery,120000,Donated,6
2097,2021-06-28,Sharehouse Leeds,Morrisons,NaN,Retail,Ambient,Bakery,1820,Donated,6
2094,2021-06-28,Sharehouse Leeds,Morrisons,NaN,Retail,Ambient,Bakery,22300,Donated,6
2830,2021-06-26,Sharehouse Leeds,Tesco,NaN,Retail,Ambient,Bakery,25200,Donated,6
...,...,...,...,...,...,...,...,...,...,...
2770,2021-06-01,Sharehouse Leeds,Tesco,NaN,Retail,Ambient,Bakery,10500,Donated,6
1987,2021-06-01,Sharehouse Leeds,Morrisons,NaN,Retail,Ambient,Bakery,10800,Donated,6
1989,2021-06-01,Sharehouse Leeds,Morrisons,NaN,Retail,Ambient,Bakery,46200,Donated,6
1994,2021-06-01,Sharehouse Leeds,Morrisons,NaN,Retail,Ambient,Bakery,20000,Donated,6
1990,2021-06-01,Sharehouse Leeds,Morrisons,NaN,Retail,Ambient,Bakery,10000,Donated,6

In [7]:
# total_bakery = df.loc[df['Product'] == "Bakery"]['Weight (in grams)'].sum()
# print(f"Total bakery: {total_bakery}")
grand_total = 0
for product in df['Product'].unique():
    total = df.loc[df['Product'] == product]['Weight (in grams)'].sum()
    print(f"Total {product}: {total/1_000} Kg")
    grand_total += total
print(f"Year Total to date : {(int(grand_total/1_000_000))} tonne")

Total Dairy: 9645.675 Kg
Total Fresh Produce: 226346.777 Kg
Total Bakery: 42664.423 Kg
Total Other: 179701.446 Kg
Total Drinks: 77387.822 Kg
Total Meat, Fish, Poultry, Eggs: 24979.91 Kg
Total Pre-prepared Meals: 11099.306 Kg
Year Total to date : 571 tonne

In [8]:
df['Product'].unique()

array(['Dairy', 'Fresh Produce', 'Bakery', 'Other', 'Drinks',
       'Meat, Fish, Poultry, Eggs', 'Pre-prepared Meals'], dtype=object)

In [11]:
df['Source Category'].unique()

array(['Private', 'Retail', 'Hospitality', nan, 'RDC'], dtype=object)